In [2]:
import pandas as pd

df = pd.read_csv('C:\\Users\\pc\\Downloads\\sales_data_sample.csv', encoding='latin1')

df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [3]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [4]:
#handling null values
df['ADDRESSLINE2'] = df['ADDRESSLINE2'].fillna(df['ADDRESSLINE2'].mode()[0])
df['STATE'] = df['STATE'].fillna(df['STATE'].mode()[0])
df['TERRITORY'] = df['TERRITORY'].fillna(df['TERRITORY'].mode()[0])

In [5]:
df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [6]:

Q1 = df['QUANTITYORDERED'].quantile(0.25)
Q3 = df['QUANTITYORDERED'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['QUANTITYORDERED'] < lower_bound) | (df['QUANTITYORDERED'] > upper_bound)]
print(outliers)

df_clean = df[(df['QUANTITYORDERED'] >= lower_bound) & (df['QUANTITYORDERED'] <= upper_bound)]

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
418         10405               97      93.28                5   9048.16
598         10407               76     100.00                2  14082.80
1666        10412               70     100.00               10   8498.00
1714        10407               76      94.50                6   7182.00
1995        10405               76     100.00                3  11739.70
1996        10419               70     100.00                8   9240.00
2586        10401               85      88.75               10   7543.75
2689        10401               77      92.00                9   7084.00

           ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
418   4/14/2005 0:00  Shipped       2         4     2005  ...
598   4/22/2005 0:00  On Hold       2         4     2005  ...
1666   5/3/2005 0:00  Shipped       2         5     2005  ...
1714  4/22/2005 0:00  On Hold       2         4     2005  ...
1995  4/14/2005 0:00  Shipped       2         4     2005  ...
1996  5/17/2005 0:00  Shipped       2         5     2005  ...
2586   4/3/2005 0:00  On Hold       2         4     2005  ...
2689   4/3/2005 0:00  On Hold       2         4     2005  ...

            ADDRESSLINE1  ADDRESSLINE2        CITY STATE POSTALCODE  COUNTRY  \
418     24, place Kluber       Level 3  Strasbourg    CA      67000   France
598       3086 Ingle Ln.       Level 3    San Jose    CA      94217      USA
1666  C/ Moralzarzal, 86       Level 3      Madrid    CA      28034    Spain
1714      3086 Ingle Ln.       Level 3    San Jose    CA      94217      USA
1995    24, place Kluber       Level 3  Strasbourg    CA      67000   France
1996         Geislweg 14       Level 3    Salzburg    CA       5020  Austria
2586       7476 Moss Rd.       Level 3      Newark    NJ      94019      USA
2689       7476 Moss Rd.       Level 3      Newark    NJ      94019      USA

     TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
418       EMEA         Citeaux       Frederique    Large
598       EMEA           Frick              Sue    Large
1666      EMEA          Freyre            Diego    Large
1714      EMEA           Frick              Sue    Large
1995      EMEA         Citeaux       Frederique    Large
1996      EMEA           Pipps            Georg    Large
2586      EMEA           Brown          William    Large
2689      EMEA           Brown          William    Large

[8 rows x 25 columns]

In [7]:
df.value_counts()

ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  SALES    ORDERDATE        STATUS      QTR_ID  MONTH_ID  YEAR_ID  PRODUCTLINE       MSRP  PRODUCTCODE  CUSTOMERNAME                  PHONE           ADDRESSLINE1                  ADDRESSLINE2  CITY        STATE  POSTALCODE  COUNTRY  TERRITORY  CONTACTLASTNAME  CONTACTFIRSTNAME  DEALSIZE
10100        22               86.51      4                1903.22  1/6/2003 0:00    Shipped     1       1         2003     Vintage Cars      92    S18_4409     Online Diecast Creations Co.  6035558647      2304 Long Airport Avenue      Level 3       Nashua      NH     62005       USA      EMEA       Young            Valarie           Small       1
10312        31               100.00     14               4729.36  10/21/2004 0:00  Shipped     4       10        2004     Vintage Cars      127   S18_2325     Mini Gifts Distributors Ltd.  4155551450      5677 Strong St.               Level 3       San Rafael  CA     97562       USA      EMEA       Nelson           Valarie           Medium      1
10311        43               100.00     10               5278.68  10/16/2004 0:00  Shipped     4       10        2004     Classic Cars      132   S18_2870     Euro Shopping Channel         (91) 555 94 44  C/ Moralzarzal, 86            Level 3       Madrid      CA     28034       Spain    EMEA       Freyre           Diego             Medium      1
             45               49.30      8                2218.50  10/16/2004 0:00  Shipped     4       10        2004     Classic Cars      50    S24_1628     Euro Shopping Channel         (91) 555 94 44  C/ Moralzarzal, 86            Level 3       Madrid      CA     28034       Spain    EMEA       Freyre           Diego             Small       1
             46               92.09      7                4236.14  10/16/2004 0:00  Shipped     4       10        2004     Classic Cars      107   S24_3432     Euro Shopping Channel         (91) 555 94 44  C/ Moralzarzal, 86            Level 3       Madrid      CA     28034       Spain    EMEA       Freyre           Diego             Medium      1
                                                                                                                                                                                                                                                                                                                                                           ..
10207        34               99.54      7                3384.36  12/9/2003 0:00   Shipped     4       12        2003     Trucks and Buses  118   S12_4473     Diecast Collectables          6175552555      6251 Ingle Ln.                Level 3       Boston      MA     51003       USA      EMEA       Franco           Valarie           Medium      1
             37               69.89      13               2585.93  12/9/2003 0:00   Shipped     4       12        2003     Trucks and Buses  60    S18_2432     Diecast Collectables          6175552555      6251 Ingle Ln.                Level 3       Boston      MA     51003       USA      EMEA       Franco           Valarie           Small       1
             40               100.00     1                6146.80  12/9/2003 0:00   Shipped     4       12        2003     Classic Cars      143   S18_4027     Diecast Collectables          6175552555      6251 Ingle Ln.                Level 3       Boston      MA     51003       USA      EMEA       Franco           Valarie           Medium      1
             42               29.70      8                1247.40  12/9/2003 0:00   Shipped     4       12        2003     Classic Cars      35    S24_2840     Diecast Collectables          6175552555      6251 Ingle Ln.                Level 3       Boston      MA     51003       USA      EMEA       Franco           Valarie           Small       1
10425        55               46.82      1                2575.10  5/31/2005 0:00   In Process  2       5         2005     Classic Cars      57    S24_1444     La Rochelle Gifts             40.67.8555      67, rue des Cinquante Otages  Level 3       Nantes      CA     44000       France   EMEA       Labrune          Janine            Small       1
Name: count, Length: 2747, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['DEALSIZE'] = le.fit_transform(df['DEALSIZE'])

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['SALES','QUANTITYORDERED']] = scaler.fit_transform(df[['SALES','QUANTITYORDERED']])

In [12]:

import matplotlib.pyplot as plt
sns.boxplot(data=df[['SALES', 'QUANTITYORDERED']])
plt.title('After Scaling')
plt.show()

NameError: name 'sns' is not defined